/* * {
  box-sizing: border-box;
}

html {
  background: url('/src/assets/backgroundScreen.png') no-repeat;
  background-color: rgba(243, 237, 234, 255);
  background-size: 100vw 46vw;
}

.main-container {
  display: flex;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 19px;
}

.log-in-form {
  display: flex;
  margin-left: 19%;
}

div.app-name-mobile {
  display: none;
}

div.app-name {
  font-family: 'Lobster', cursive;
  font-size: 2.4vw;
  text-align: center;
  transform: rotate(-3deg);
  display: flex;
  padding-top: 18.5%;
  padding-left: 23%;
}

div.login-panel {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 17%;
  margin-top: 55%;
  justify-content: center;
  width: 26vw;
  border: solid 1px rgb(223, 216, 216);
  background-color: white;
  text-align: center;
  border-radius: 2%;
}

.log-in-title {
  font-weight: bold;
  padding-bottom: 4%;
  padding-top: 4%;
}

form {
  margin-top: 4%;
  margin-bottom: 5%;
}

div.flex-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  justify-content: center;
}

p.form-paragraphs {
  margin: 4% 0 4% 0;
}

input.input-design {
  width: 70%;
  height: 2.2vw;
  padding-left: 2%;
}

input.input-design,
input.login-button {
  font-size: 20px;
}

.login-button {
  width: 70%;
  height: 2.1vw;
}

#sign-up-option-2 {
  text-decoration: none;
  padding-top: 2%;
}

.footer#container.footer {
  display: flex;
  flex-direction: column;
}

div.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
}

img.envelope {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}
span.authors {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 15px;
}

.contact {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: grey;
  padding: 1px;
  margin-bottom: 13px;
}

.freepik {
  display: flex;
  justify-content: center;
  padding-top: 4.5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: grey;
  display: none;
}
#container {
  position: fixed;
  bottom: 4%;
  width: 100%;
}

@media (max-width: 319px) {
  html {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  html {
    background: url('/src/assets/backgroundMobile.jpg') no-repeat center center
      fixed;
    background-size: 100% 100%;
  }

  .box {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  span.authors {
    font-size: 12px;
  }
  div.app-name {
    display: none;
  }
  div.app-name-mobile {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 21px;
    padding-top: 3%;
  }
  div.login-panel {
    width: 53vw;
    margin-left: 0;
    padding-top: 4%;
    padding-bottom: 2%;
  }
  p#sign-up-option,
  p#sign-up-option-2 {
    margin-bottom: 0;
    padding: 0;
  }
  input.input-design,
  input.login-button {
    width: 80%;
    height: 7vw;
    font-size: 12px;
  }
  span.authors {
    padding: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  img.envelope {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  html {
    background: url('/src/assets/backgroundMobile.jpg') no-repeat center center
      fixed;
    background-size: 100% 102%;
  }
  .box {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  div.app-name {
    display: none;
  }
  div.app-name-mobile {
    display: flex;
    font-family: 'Lobster', cursive;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    padding-bottom: 0;
    padding-top: 2%;
  }
  div.login-panel {
    width: 57%;
    margin-left: 7%;
    margin-top: 40%;
    padding: 1%;
  }

  p#sign-up-option,
  p#sign-up-option-2 {
    margin-bottom: 0;
    padding: 0;
  }

  input.input-design,
  input.login-button {
    width: 79%;
    height: 6vw;
    font-size: 12px;
  }
  span.authors {
    padding: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  img.envelope {
    width: 20px;
    height: 20px;
    padding-bottom: px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  html {
    background: url('/src/assets/backgroundMobile.jpg') no-repeat center center
      fixed;
    background-size: 100% 100%;
  }
  .box {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }
  div.app-name {
    display: none;
  }
  div.app-name-mobile {
    display: flex;
    font-family: 'Lobster', cursive;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0;
    padding-top: 3%;
  }
  div.login-panel {
    width: 51%;
    margin-left: 10%;
    margin-top: 26%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  p#sign-up-option,
  p#sign-up-option-2 {
    margin-bottom: 0;
    padding: 0;
  }
  input.input-design,
  input.login-button {
    width: 77%;
    height: 5.5vw;
    font-size: 12px;
  }
  span.authors {
    padding: 1px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  html {
    display: inherit;
  }

  .box {
    font-size: 13px;
  }

  div.login-panel {
    margin-left: 10%;
    margin-top: 49%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  input.input-design,
  input.login-button {
    width: 80%;
    height: 2.4vw;
    font-size: 12px;
  }
}

@media (min-width: 1025px) and (max-width: 1250px) {
  html {
    display: inherit;
  }

  .box {
    font-size: 16px;
  }

  input.input-design,
  input.login-button {
    font-size: 12px;
  }
}

@media (min-width: 1251px) and (max-width: 2000px) and (orientation: landscape) {
  html {
    margin-top: 2%;
  }

  input.input-design,
  input.login-button {
    font-size: 17px;
  }
} */
