* {
  box-sizing: border-box;
}

html {
  background: url('/src/assets/backgroundScreen.png') no-repeat;
  background-color: rgba(243, 237, 234, 255);
  background-size: 100vw 46vw;
}

.main-container {
  display: flex;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 1vw;
}

.log-in-form {
  display: flex;
  margin-left: 19%;
}

div.app-name-mobile {
  display: none;
}

div.app-name {
  font-family: 'Lobster', cursive;
  font-size: 2.3vw;
  text-align: center;
  transform: rotate(-3deg);
  display: flex;
  padding-top: 18.6%;
  padding-left: 23%;
}

div.login-panel {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 19%;
  margin-top: 45%;
  justify-content: center;
  width: 26vw;
  border: solid 1px rgb(223, 216, 216);
  background-color: white;
  text-align: center;
  border-radius: 2%;
}

.log-in-title {
  font-weight: bold;
  padding-bottom: 4%;
  padding-top: 4%;
}

form {
  margin-top: 4%;
  margin-bottom: 5%;
}

div.flex-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  justify-content: center;
}

input.input-design {
  width: 70%;
  height: 2vw;
  padding-left: 2%;
}

input.input-design,
input.login-button {
  font-size: 0.9vw;
}

.login-button {
  width: 70%;
  height: 2vw;
}

p#sign-up-option {
  margin-top: 6%;
}

#sign-up-option-2 {
  text-decoration: none;
  padding-top: 2%;
}

/* select#menu {
      display: flex;
      margin-left: 45%;
      margin-top: 4%;
      width: 90px;
      width: 22%;
      height: 25%;
      font-size: 0.9vw;
      background: none;
      border: 2px solid #edeff0;
      padding: 6px;
    } */

div.footer-list {
  display: flex;
  justify-content: center;
  margin-right: 0%;
  margin-top: 10vw;
}

span.authors {
  display: flex;
  padding-top: 9px;
  text-align: right;
  font-size: 1vw;
  font-family: 'Lato', sans-serif;
  color: grey;
  /* display: none; */
}

.freepik {
  display: flex;
  padding-top: 4.5px;
  text-align: center;
  text-decoration: none;
  font-size: 1 vw;
  font-family: 'Lato', sans-serif;
  color: grey;
  display: none;
}

#container {
  position: fixed;
  bottom: 4%;
  width: 100%;
}

/* MEDIA */

@media (min-width: 320px) and (max-width: 480px) {
  html {
    background: url('/src/assets/backgroundMobile.jpg') no-repeat center center
      fixed;
    background-size: 100% 100%;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  div.app-name {
    display: none;
  }
  div.app-name-mobile {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 26px;
    padding-top: 3%;
  }
  div.login-panel {
    width: 53vw;
    font-size: 3.5vw;
    margin-left: 0%;
    margin-top: 49%;
    padding-top: 4%;
    padding-bottom: 2%;
  }
  p#sign-up-option,
  p#sign-up-option-2 {
    margin-bottom: 0;
    padding: 0;
  }
  input.input-design,
  input.login-button {
    width: 80%;
    height: 7vw;
    font-size: 3.7vw;
  }
  span.authors {
    font-size: 3.3vw;
    padding: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* display: none; */
  }
  .freepik {
    display: flex;
    font-size: 3vw;
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  html {
    background: url('/src/assets/backgroundMobile.jpg') no-repeat center center
      fixed;
    background-size: 100% 102%;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  div.app-name {
    display: none;
  }
  div.app-name-mobile {
    display: flex;
    font-family: 'Lobster', cursive;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0;
    padding-top: 2%;
  }
  div.login-panel {
    width: 57%;
    margin-left: 7%;
    margin-top: 37%;
    padding: 1%;
    font-size: 2.8vw;
  }
  p#sign-up-option,
  p#sign-up-option-2 {
    margin-bottom: 0;
    padding: 0;
  }
  div.footer-list {
    margin-right: 5%;
  }
  input.input-design,
  input.login-button {
    width: 79%;
    height: 6vw;
    font-size: 2.8vw;
  }
  span.authors {
    font-size: 2.5vw;
    padding: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* display: none; */
  }
  .freepik {
    display: flex;
    font-size: 2vw;
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  html {
    background: url('/src/assets/backgroundMobile.jpg') no-repeat center center
      fixed;
    background-size: 100% 100%;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  div.app-name {
    display: none;
  }
  div.app-name-mobile {
    display: flex;
    font-family: 'Lobster', cursive;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    padding-bottom: 0;
    padding-top: 3%;
  }
  div.login-panel {
    width: 51%;
    margin-left: 10%;
    margin-top: 26%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2.6vw;
  }
  p#sign-up-option,
  p#sign-up-option-2 {
    margin-bottom: 0;
    padding: 0;
  }
  input.input-design,
  input.login-button {
    width: 77%;
    height: 5.5vw;
    font-size: 2.6vw;
  }
  span.authors {
    font-size: 2vw;
    padding: 1px;
    display: flex;
    justify-content: center;
    /* display: none; */
  }
  .freepik {
    display: flex;
    font-size: 2vw;
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  html {
    display: inherit;
  }
  p#sign-up-option {
    font-size: 1.2vw;
  }
  div.login-panel {
    margin-left: 17%;
    margin-top: 44%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  input.input-design,
  input.login-button {
    width: 80%;
    height: 2.4vw;
    font-size: 1.1vw;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  html {
    display: inherit;
  }

  div.login-panel {
    margin-left: 16%;
    margin-top: 44%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  input.input-design,
  input.login-button {
    font-size: 1.1vw;
  }

  p#sign-up-option {
    font-size: 1.2vw;
  }
}

@media (min-width: 1201px) and (max-width: 2000px) {
  html {
    margin-top: 5%;
  }
}
