* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #331e16;
}

body {
  background-color: #584133;
  font-family: 'Lato', sans-serif;
}

h1.logo {
  padding: 8px;
  font-family: 'Lobster';
  transform: rotate(-3deg);
  font-size: 30px;
}

.navigation {
  background-color: #f3edea;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-right: 30px;
}

li {
  display: block;
  padding: 10px;
  justify-content: flex-end;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  h1.logo {
    font-size: 22px;
    padding-left: 9px;
  }
  .navigation {
    padding: 0px;
  }
  .menu {
    padding-right: 0;
  }

  p.paragraph--introduction {
    margin: 0 11vw 0 11vw;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  .menu {
    padding-right: 0;
  }
}
