h1.logo {
  padding: 8px;
  font-family: 'Lobster';
  transform: rotate(-3deg);
  font-size: 30px;
}

.navigation {
  background-color: #f3edea;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px 15px 50px;
}

ul.menu_navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 30px;
}

li.add {
  display: block;
  padding: 10px;
  justify-content: flex-end;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  h1.logo {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }
  ul.menu.navigation {
    padding-right: 0;
  }

  p.paragraph--introduction {
    margin: 0 11vw 0 11vw;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  h1.logo {
    font-size: 25px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  ul.menu_navigation {
    padding-right: 0;
  }
}
