* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #331e16;
}

body {
  /* background-color: #80604c; */
  /* background-color: #6e5241; */
  background-color: #584133;
  font-family: 'Lato', sans-serif;
}

h1.logo {
  padding: 8px;
  font-family: 'Lobster';
  transform: rotate(-3deg);
  font-size: 30px;
}

.navigation {
  /* background-color: #f7d6ab; */
  background-color: rgba(243, 237, 234, 255);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  width: auto;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-right: 30px;
}

li {
  display: block;
  padding: 10px;
  justify-content: flex-end;
  cursor: pointer;
}
