.workBoards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 6px 10px 5px 10px;
}

.board {
  display: block;
  margin: 10px;
  padding: 5px 20px 5px 20px;
  width: 30%;
  min-height: 68vh;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  border: 2px double #331e16;
}

.toDo {
  background-color: #f7d6ab;
  display: flex;
  justify-content: space-between;
}

.inProgress {
  background-color: #bb9777;
}

.done {
  background-color: #80604c;
}
.tableAddingBtn {
  width: 20px;
  height: 20px;
  text-decoration: none;
}

/* .color1 {color: #331E16;}
.color2 {color: #533C2E;}
.color3 {color: #80604C;}
.color4 {color: #BB9777;}
.color5 {color: #F7D6AB;} */

@media (min-width: 320px) and (max-width: 502px) and (orientation: portrait) {
  nav.navigation {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .workBoards {
    display: flex;
    margin-left: 4%;
  }
  h1.logo {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding: 1px;
    font-size: 25px;
  }
  ul.menu {
    display: flex;
    justify-content: space-around;
  }
  .tableAddingBtn,
  .add,
  .boards,
  .popUp,
  .account {
    padding: 6px;
  }

  select.selectTable {
    width: 15%;
    height: 12%;
    font-size: 18px;
  }

  div.workBoards {
    display: flex;
    flex-direction: column;
  }
  .board {
    width: 91%;
    min-height: 20vh;
  }
}

@media (min-width: 503px) and (max-width: 1024px) {
  nav.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  h1.logo {
    font-size: 25px;
    padding-left: 0;
  }

  select.selectTable {
    width: 14%;
    height: 12%;
    font-size: 18px;
  }

  div.workBoards {
    display: flex;
    align-items: center;
    margin: 20px 10px 5px 10px;
  }
  .board {
    display: flex;
    padding: 5px 20px 5px 20px;
    width: 87%;
    min-height: 66vh;
  }
}

@media (min-width: 503px) and (max-width: 725px) {
  div.workBoards {
    display: flex;
    flex-direction: column;
  }

  .board {
    display: flex;
    padding: 5px 20px 5px 20px;
    width: 87%;
    min-height: 21vh;
  }
}
